# Ignore build output directory
/build


# Ignore object files and dependent files
.o
.d

#Ignore logs folder and log files
/logs
.log

#Ignore lock files
.lock

.bin
.pdi

#Ignore files in test directories
*/hls/
*/reports/
*/logs/
*.hlscompile_summary
*.hlsrun_csim_summary