# Ignore build output directory
/build


# Ignore object files and dependent files
.o
.d

#Ignore logs folder and log files
/logs
.log

#Ignore lock files
.lock

.bin
.pdi

#Ignore Vitis IDE artifacts
.peers.ini
.repo.yaml
.cache

#Ignore VSCode artifacts
.vscode/*

#Ignore test build
test/*/build
test/*/.Xil
test/*/*.log
test/*/vitis-comp.json